
*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    background-color: #756f6f;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fafafa;
    box-shadow: 0 2px 8px rgba(0,0,0,.16);
    width: 860px;
    height: 700px;
    text-align: center;
    font-family: 'Nunito',sans-serif;
   
}
h1{
    
    margin: 12px 0;
    background-color: rgb(196, 134, 177);
}
.add-elements{
    margin: 12px 0;

}
input{
    padding: 6px 4px;
    width: 70%;
}
button{
    padding: 7px 14px;
    background-color: #00b0ff;
    border: none;
    border-radius: 4px;
    color: #fafafa;

}
.element-list{
    height: 550px;
    overflow-y: scroll
}
ul{
    padding: 15px;
   
}
li{
    list-style: none;
    padding: 10px 5px;
    background-color: #fff;
    margin: 12px 0;
    box-shadow: 0 2px 8px rgba(0,0,0,.16);
    border-radius: 3px;
    transition: .4s;
}
button:hover{
    background-color: #1565c0;
}

li:hover{
    background-color: #e0e0e0;
}

.checked{
    text-decoration: line-through;
    background-color: #e0e0e0;
}
